
body {
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  color: #4E4E4E;
}
h1,h2,h3{
  font-family: Dosis;
  font-family: Quicksand;
  font-weight: 600;
}
h2, h3{
  font-weight: 600;
}
h4,h5,h6,a,span,p{
  /*font-family: 'Droid Serif';*/
  /*font-family: Muli;*/
  font-family: Ubuntu;
  font-weight: lighter;
}
a, li{
  color: #6204CA;
  font-family: Muli;
}
p{
  line-height: 29px;
}
button{
  color: #252525;
}


.twitter-icon{
  background: url('../images/twitter-icon.png') center no-repeat;
  background-size: 20px;
  padding: 20px;
}
.wordpress-icon{
  background: url('../images/wordpress-icon.png') center no-repeat;
  background-size: 20px;
  padding: 20px;
}
.color-black{
  color: #4E4E4E !important;
}

/* Buttons */
    .signin-btn{
      /*width: 100%;*/
      margin: 0 auto;
      color: white;
      border:0;
      box-shadow: none;
      margin-bottom: 8px;
      padding: 11px;
      font-family: Muli;
    }
    .facebook-btn{
      background-color: #333396;
    }
    .twitter-btn{
      background-color: #00aced;
    }
    .default-btn{
      padding: 8px 25px;
      font-size: 14px;
      background: white;
      border: 2px solid #4E4E4E;
      border-radius: 10px;
      color: #4E4E4E;
      cursor: pointer;
      font-family: Muli;
    }
    .default-btn:hover{
      border: 2px solid #6204CA;
      color: #6204CA;
    }
    .connect-btn{
      padding: 7px 16px;
      border: 0;
      background: white;
      border-radius: 6px;
      cursor: pointer;
      font-family: Muli;
    }
    .connect-btn:hover{
      background-color: #3FF5AD;
      color: white;
    }

    .default-tab{
      padding: 8px 14px;
      background: #ECECEC;
      border: 0;
      cursor: pointer;
      font-family: Muli;
    }
    .default-tab:hover{
      background: #ECECEC;
    }
    .deactive-tab{
      background: #F7F7F7;
    }
    .disconnect-btn{
      cursor: pointer;
      float: right;
      font-size: 13px;
    }
    .disconnect-btn:hover{
      background-color: red;
      color: white;
    }
    .buy-btn{
      position: absolute;
      top: 0;
      right: 0;
    }

/* modal */
  .modal{
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #dedede;
    box-shadow: 0px 1px 4px #C1C1C1;
    min-height: 300px;
    top:30%;
  }
  .modal > div{
    position: relative;
    text-align: center;
  }
  .modal .closeBtn{
    position: absolute;
    top: -21px;
    right: 0px;
    border: 0px;
    cursor: pointer;
  }
  .modal .closeBtn:hover{
    color: red;
  }



/* navbar */
  .navbar-header{
    display: inline-block;
    margin-bottom: 2em;
  }
  .navbar-brand{
    text-decoration: none;
    font-size: 18px;
    /*color: #6204CA;*/
    color: #4e4e4e;
    margin-left: 2em;
    margin-right: 2em;
  }
  .nav{
    display: inline-block;
  }
  .navbar ul li{
    display: inline-block;
    padding-right: 16px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #4e4e4e;
    font-family: Quicksand;
    font-weight: 500;
  }
  .navbar ul li a:hover{
    color: #6204CA;
  }
  .navbar ul li a:active{
    color: #6204CA;

  }

/* header section */
  #header{
    text-align: center;
  }
  #header h1{
    margin-top: 4em;
    font-size: 36px;
  }
  #header h2{
    font-weight: lighter;
  }
  #header button{
    margin-top:2em;
  }

  /* four-col */
    .four-col{
      /*overflow: hidden;*/
      margin-top:9em;
    }
    .four-col > div{
      width: 69%;
      margin: 0 auto;
      overflow: hidden;
    }
    .four-col > div > div{
      width: 25%;
      float: left;
      text-align: center;
    }
    .four-col .col-icon{
      width: 3em;
    }

/* reflect */
  #reflect{
    max-width: 1300px;
    margin:0 auto;
    margin-top:4em;
  }

/* profile */
  #profile{
    max-width: 1300px;
    margin:0 auto;
  }
  #leftContent{
    float: left;
    width: 20%;
    /*background-color: #e1e1e1;*/
    padding: 1em;
    background: white;
    border: 2px solid #ECECEC;
    border-radius: 5px;
  }
    #leftContent > div{
      margin-bottom: 3em;
    }
    #leftContent h4,
    #leftContent button,
    #leftContent h5{
      display: inline-block;
      margin:0;
    }
    #leftContent h4{
      font-size: 14px;
      /*font-family: Merriweather;*/
      font-family: Muli;
      font-weight: 500;
      color: #4C4C4C;
      margin-top:4px;
    }
    #leftContent button,
    #leftContent h5{
      float: right;
    }
    #leftContent button{
      font-size: 14px;
    }
    #leftContent .disconnect-btn{
      color: #0AD60A;
    }
    #leftContent .disconnect-btn:hover{
      color: white !important;
    }
    

  #mainContent{
    width: 67%;
    display: inline-block;
    margin: 4em;
    margin-top: 0;
  }
  #mainContent > div{
    margin: 0 auto;
    width: 90%;

  }

  #timelineHeader{
    background-color: #ECECEC;
    padding: 2em;
  }
  
  #previewReviews > div{
    padding: 10px;
    margin-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 2px solid #ECECEC;
    cursor: pointer;
  }
  #previewReviews > div:hover{
    background: #ECECEC;
    border-bottom: 2px solid #6204CA;
  }
  #previewReviews h4{
    font-family: Quicksand;
    font-weight: 900;
  }
  #previewReviews h4 > span{
    font-family: Ubuntu;
    font-weight: 300;
    margin-left: 15px;
  }


/* post */
  .postContainer{
    /*border-bottom: 1px solid black;*/
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    position: relative;
    min-height: 2em;
    overflow: hidden;
  }
  .postContainer > div{
    overflow: hidden;
  }
  .postContainer img{
    width: 100%;
  }
  .postContainer .icon-left{
    width: 9%;
    float: left;
  }
  .postContainer .info-right{
    width: 90%;
    float: left;
  }
  .postContainer .date{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ABABAB;
  }
  .postContainer .title{
    font-family: Muli;
  }
  .postContainer .text{
    font-family: Dosis;
    font-size: 18px;
    letter-spacing: 1px;
    /*font-family: Muli;*/
  /*font-family: 'Droid Serif';*/

  }

  .tag{
    display: inline-block;
    color: gray;
    margin-right: 8px;
  }
  .twitterContainer{
    /*background-color: blue;*/
    border:1px solid gray;
    border-radius: 4px;
    padding: 1em;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /*.twitterContainer h3{
    display: inline-block;
    margin-left: 35px;
    margin-top: -23px;
  }*/

  .removePost{
    width: 20px;
        height: 8px;
    border-radius: 12px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .addPost{
    width: 10px;
        height: 10px;
    border-radius: 12px;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .minimizedPost{
    background-color: gray;
    opacity: .4;
    width: 80%;
    margin: 0 auto;
    padding: 0px 19px;
    background-color: #CACACA;
    opacity: .4;
    border-radius: 3px;
  }
  .minimizedPost > p{
    padding: 6px;
  }


/* profilePreviewContainer */
  #profilePreviewContainer{
    /*border: 2px solid black;*/
    /*border-radius: 2px;*/
    /*background-color: gray;*/
    padding: 0;
    color: #4E4E4E;
    position: absolute;
    /*width: 10em;*/
    right: 10px;
    top: 10px;
  }
  #profilePreviewContainer:hover{
    color: blue;
    cursor: pointer;
  }
  #profilePreviewContainer h4{
    margin:0;
  }

/* writeDoc */
  /* alert box */
    .successBox{
      background: white;
      padding: 1px 14px;
      border: 3px solid #5B0080;
      border-radius: 4px;
      overflow: auto;
      margin-bottom: 3em;
    }
    .successBox p{
      font-family: 'Droid Serif';
      font-size: 14px;
      color: #5B0080;
      font-weight: bold;
    }
    .successBox p:nth-of-type(1){
      width: 80%;
      float: left;
    }
    .successBox .close{
      float: right;
      width: 10%;
      cursor: pointer;
      text-align: right;
    }
    .successBox .close:hover{
      color: green;
    }
  .write-back-btn{
    position: absolute;
    left: 3em;
    top: 5em;
    text-decoration: none;
  }

  #writeDoc h1, #writeDoc h3{
    text-align: center;
  }
  #writeDoc h1{
    font-size: 24px;
    margin-bottom: 10px;
  }
  #writeDoc h3{
    font-size: 18px;
    color:#ABABAB;
    margin: 0;
    margin-bottom: 39px;
    font-weight: lighter;

    width: 64%;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  #writeDoc > div{
    width: 50%;
    margin: 0 auto;
  }
  #writeDoc textarea,
  #book .review pre{
    border: 0;
    width: 100%;
    margin: 0;
    padding: 2em;
    font-size: 18px;
    border-radius: 6px;
    min-height: 25em;
    font-family: 'Droid Serif';
    resize: none;
    line-height:27px;
    color: #4E4E4E;
  }
  #writeDoc textarea:focus{
    outline: none;
    box-shadow: none;
  }
  #writeDoc #buttons{
    float: right;
  }
  #writeDoc input{
    padding: 11px;
    width: 65%;
    border-radius: 10px;
    border: 1px solid #dedede;
  }
  #writeDoc input:focus,
  #writeDoc input:active{
    outline: none;
    box-shadow: none;
    /*border-radius: 10px;*/
    border-color: #5B0080;
    /*border: 1px solid #dedede;*/
  }


/* book */
  #book{}
  #book h1{
    position: relative;
  }
  #book > div{
    width: 60%;
    margin: 0 auto;
  }
  #book .review{
    position: relative;
  }
  #book .review h2{
    margin-bottom: 5px;
    font-size: 30px;
  }
  #book .review h2,
  #book .review h4{
    text-align: center;
    margin-top: 0;
  }
  #book .review h4{
    color: #ABABAB;
  }
  #book .review pre{
    min-height: 0;
    white-space: pre-line;
    color: #4E4E4E;
  }
  #book hr{
    margin-top: 3em;
    margin-bottom: 5em;
  }
  input{
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #dedede;
  }
  #book input{
    width: 80%;
    width: 26em;
    /*display: block;*/
    margin-bottom: 7px;
  }
  input#fname{
    width: 20em;
  }
  #book form .default-btn{
    margin-top:3em;
    display: block;
  }
  #book #close-btn{
    position: absolute;
    right: 0;
    font-size: 16px;
    font-family: Muli;
    cursor: pointer;
    color: #B3B3B3;
  }
  #book #close-btn:hover{
    color: gray;
  }


