<!-- <p>This is the book view.</p> -->




<main id="book">
  <div ng-if="showForm">
    <div>
      <h1>Purchase <span id="close-btn" ng-click="purchaseForm(false)">close</span></h1>
      
      <h4>Fill out these few fields to submit your review for purchase.</h4>
      <form>
        <div>
          <input placeholder="First Name" ng-model="order.fname" id="fname"/>
          <input placeholder="Last Name" ng-model="order.lname"/>
        </div>
        <input placeholder="Enter Shipping Address" ng-model="order.address"/>
        
        <button ng-click="submitOrder(order)" class="default-btn">submit</button>
      </form>
      <button class="default-btn" stripe-checkout="doCheckout"
              data-key="pk_test_PhxW8hKuuX9B74ebpE3E8G1q"
              data-name="Purchase Continued"
              data-description="connect, reflect, grow"
              data-zip-code="true"
              data-amount="25000">
            Add Payment
        </button>
      <!-- <span class="closeBtn" ng-click="closeModal()">Close</span> -->
    </div>
  </div>

  <div ng-if="!showForm">
    <!-- <h2>Buy your book now!</h2>
    <button>buy</button> -->

    <!-- <button>Go to profile</button> -->

    <div class="review">
      <h2>{{data.title}}</h2>
      <h4>{{data.date | date:'medium'}} <span ng-if="data.author !== null">by {{data.author}}</span></h4>
      <pre>{{data.text}}</pre>

      <button class="default-btn buy-btn" ng-click="purchaseForm(true)">Get Now!</button>

    </div>
    <!-- <p>p:{{data.posts}}</p> -->
    
    <!-- <div ng-repeat="post in data.posts">
      {{post}}
    </div> -->

    <hr>
    <div ng-repeat="post in data.posts | orderBy: '-created_at'" class="postContainer">
        <div ng-class="post.source === 'twitter'? 'twitterContainer':''" ng-if="post.isIncluded">

          <div class="icon-left">
            <span class="{{post.source}}-icon"></span>
          </div>
          <div class="info-right">
            <h4 class="date">{{post.created_at | date:'medium'}}</h4>
            <h2 class="title" ng-if="post.title" ng-bind-html="post.title"></h2>
            <p class="text" ng-bind-html="post.text"></p>
          </div>
          <!-- <p>{{post.source}}</p> -->
          <img ng-if="post.image" ng-src="{{post.image}}" />
          <p ng-repeat="tag in post.hashtags" class="tag">#{{tag}}</p>
        </div>
        <!-- <div ng-class="!post.isIncluded? 'minimizedPost':''" ng-if="!post.isIncluded">
          <h2 ng-if="post.title" ng-bind-html="post.title"></h2>
          <p>hidden</p>
        </div>
        <span ng-if="post.isIncluded" ng-click="post.isIncluded = false" class="removePost"></span>
        <span ng-if="!post.isIncluded" ng-click="post.isIncluded = true" class="addPost"></span> -->
      </div>

  </div>



  <div ng-if="popUp" class="modal">
    <div>
      <h1>Purchase</h1>
      <h4>Fill out these few fields to submit your review for purchase.</h4>
      <form>
        <input placeholder="Enter Name" ng-model="order.name"/>
        <input placeholder="Enter Shipping Address" ng-model="order.address"/>
        
        <button ng-click="submitOrder(order)" class="default-btn">submit</button>
      </form>
      <button class="default-btn buy-btn" stripe-checkout="doCheckout"
              data-key="pk_test_PhxW8hKuuX9B74ebpE3E8G1q"
              data-name="Purchase Continued"
              data-description="connect, reflect, grow"
              data-zip-code="true"
              data-amount="25000">
            Add Payment
        </button>
      <span class="closeBtn" ng-click="closeModal()">Close</span>
    </div>
  </div>

</main>