
<main id="main">
  <section id="header">

    <h1>Connect, Reflect, Grow</h1>
    <h2>Take your social media posts and reflect on your past month of life.</h2>
    <button class="default-btn" ng-click="getStarted()">Get Started</button>

    <div class="four-col">
      <div>
      <div>
        <img src="../images/cup.svg" class="col-icon" alt="one"/>
        <h5>Connect and load your social posts</h5>
      </div>
      <div>
        <img src="../images/cup.svg" class="col-icon" alt="one"/>
        <h5>Reflect on your life the past month</h5>
      </div>
      <div>
        <img src="../images/cup.svg" class="col-icon" alt="one"/>
        <h5>Save your reflection and share</h5>
      </div>
      <div>
        <img src="../images/cup.svg" class="col-icon" alt="one"/>
        <h5>Turn your reflection into a tool and memory</h5>
      </div>
      </div>
    </div>

  </section>
</main>
