
<h1>Social to Memories</h1>
<h2>turn your blog posts, instagram posts and tweets into a memories</h2>

<!-- <form ng-submit="signup()">
  <input placeholder="email" ng-model="email"/>
  <button ng-submit="">sign up</button>
</form> -->

<h2>Login or sign up below</h2>
<button class="signin-btn facebook-btn" ng-click="fbLogin()">Facebook</button>
<button class="signin-btn twitter-btn" ng-click="twitterLogin()">Twitter</button>

<div ng-if="!isLoggedIn">Not logged in</div>
<div ng-if="isLoggedIn">Logged in! Welcome back.</div>

<!-- <form ng-submit="signin()">
  <input placeholder="email" ng-model="email"/>
  <button ng-submit="signin()">sign in</button>
</form> -->
