
<h1>Social to Memories</h1>
<h2>turn your blog posts, instagram posts and tweets into a memories</h2>

<!-- <form ng-submit="signup()">
  <input placeholder="email" ng-model="email"/>
  <button ng-submit="">sign up</button>
</form> -->

<h2>Login or sign up below</h2>


<div ng-if="!isLoggedIn">
  <p>Not logged in</p>
  <button class="signin-btn facebook-btn" ng-click="fbLogin()">Facebook</button>
  <button class="signin-btn twitter-btn" ng-click="twitterLogin()">Twitter</button>
  <button class="signin-btn" ng-click="guestLogin()">Use as Guest</button>
</div>

<div ng-if="isLoggedIn">
  Logged in! Welcome back {{isLoggedIn.displayName}}. 
  <button class="signin-btn" ng-click="logOut()">Log Out</button>
  <button class="signin-btn" ng-click="logoutGuest()">guest? remove from memory</button>
</div>

<hr>



<!-- <form ng-submit="signin()">
  <input placeholder="email" ng-model="email"/>
  <button ng-submit="signin()">sign in</button>
</form> -->
