
<main id="profile">

  <div id="leftContent">
    <div>
      <h4>Wordpress</h4>
      <button ng-if="!socialStatus.wordpress" ng-click="connectSocial('wordpress')">Connect</button>
      <h5 ng-if="socialStatus.wordpress">Connected</h5>
    </div>
    <div>
      <h4>Instagram</h4>
      <button ng-if="!socialStatus.instagram" ng-click="connectSocial('instagram')">Connect</button>
      <h5 ng-if="socialStatus.instagram">Connected</h5>
    </div>
    <div>
      <h4>Twitter</h4>
      <button ng-if="!socialStatus.twitter" ng-click="connectSocial('twitter')">Connect</button>
      <h5 ng-if="socialStatus.twitter">Connected</h5>
    </div>

    <button ng-click="disconnectSocial()">disconnect</button>
  </div>

  <div id="mainContent">
    <div id="timelineHeader">
      <button ng-if="hasOneConnected()" ng-click="loadTimeline()">Load Timeline</button>
    </div>
    <h3>Timeline</h3>
    <div ng-repeat="post in timeline | orderBy: '-created_at'" class="postContainer">
      <div ng-class="post.source === 'twitter'? 'twitterContainer':''">
        <h2 ng-if="post.title" ng-bind-html="post.title"></h2>
        <h3 ng-bind-html="post.text"></h3>
        <h4>{{post.created_at}}</h4>
        <p>{{post.source}}</p>
        <img ng-if="post.image" ng-src="{{post.image}}" />
        <p ng-repeat="tag in post.hashtags" class="tag">#{{tag}}</p>
      </div>
      <span ng-if="post.isIncluded" ng-click="post.isIncluded = false" ng-class="">remove</span>
      <span ng-if="!post.isIncluded" ng-click="post.isIncluded = true" ng-class="">include</span>
    </div>
  </div>

</main>