
<div id="profilePreviewContainer">
  <div ng-if="!isLoggedIn">
    <p>Not logged in</p>
    <button class="signin-btn facebook-btn" ng-click="fbLogin()">Facebook</button>
    <button class="signin-btn twitter-btn" ng-click="twitterLogin()">Twitter</button>
    <button class="signin-btn" ng-click="guestLogin()">Use as Guest</button>
  </div>

  <div ng-if="isLoggedIn">
    Logged in! Welcome back {{isLoggedIn.displayName}}. 
    <button ng-if="isLoggedIn.displayName !== 'Guest'" class="signin-btn" ng-click="logout()">Log Out</button>
    <button ng-if="isLoggedIn.displayName === 'Guest'" class="signin-btn" ng-click="logoutGuest()">guest? remove from memory</button>
  </div>
</div>


