
<main id="writeDoc">
  <div>
    <div class="successBox" ng-hide="successBoxClose">
      <p>Success saving review.</p>
      <p class="close" ng-click="successBoxClose = true">close</p>
    </div>

    <h1>Let's Write</h1>
    <h3>You have your social posts, now write a quick review on your life from the past days</h3>

    <a href="/reflect" class="write-back-btn"><- back</a>
    <hr>

    <!-- <div> -->
    <textarea placeholder="So... how has life been?" ng-model="text"></textarea>
    <!-- </div> -->
    <input placeholder="Authors name" ng-model="author"></input>
    <div id="buttons">
      <button ng-click="skip()" class="default-btn">skip</button>
      <button ng-click="finishedWriting(text, author)" class="default-btn">done</button>
    </div>
  </div>
</main>